*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.nav a {
    text-decoration: none;
    color: black;
    
}

.nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 16px;
    max-height: 60px;
    min-height: 60px;
    padding: 20px 10%;
 
}

/*logo*/
.logo {
    margin-right: auto;
    font-size: 1.9em;
    font-weight: 700;
   
}
.logo a{
    color: black;
}


/*nav*/
.nav ul {
    list-style-type: none;
}
.ul-nav {
    display: flex;
    margin-right: 40px;
}

.ul-nav li {
  display: inline-block;
  padding: 0 20px;
  font-size: 1.2em;
}

.btn-login {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.login{
    display: flex;
    color: #fff;
    font-size: .8em;
    padding: 9px;
    background-color:#73548B;
    border-radius: 20px;
}



/*responsive*/
@media screen and (max-width:700px) {
.nav-menu{
    width: 80%;
    height: 100%;
 position: absolute;
 margin-top: 188%;
 margin-right: -60px;

 background-color: red;
}
.ul-nav{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    
/* .login {
    position: absolute;
    margin-top: 300px;
} */
}
